html,
body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(192, 203, 255) 0%, rgb(252, 155, 70) 100%); /* https://cssgradient.io/ */
 
}

h1{
	text-align: center;
}


form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
	
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.add-button {
  width: 40%;
  border: none;
  outline: none;
  padding: 8px 16px;
  background: #efa66f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5rem;
}

.add-button:hover {
  background-color: rgb(198, 198, 236);
}

h1 {
  font-family: quantico;
}

.input-group button {
width:50%;
}



/*.todo-list {
  margin-top: 20rem;
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
    background-color: #fff;
}*/

.todo-list {
	margin-top: 10rem;
	width: 100%;
	max-width: 540px;
	margin: 100px auto 20px;
	padding: 40px 30px;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

  }

ul {
  list-style-type: none;


}

/*ul li::before {
  content: '■';
  position:absolute;
  height: 28px;
  width:28px;
  border-radius:50%;
  background-image: url();
background-size:cover;
background-position:center;
top:12px;
left:8px;
}*/

/*.form{
  border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

/* DOM Styles */
.list-item
{
	
	box-shadow: var(--box-shadow);
	color: #212121;
	margin: 0.5rem 0;
	padding: 1.2rem 0.5rem;
	position: relative;
	background-color: #f4ebda;
	width: 100%;
	
}


.completed{
	text-decoration: line-through;
	opacity: 0.7;
	color: green;
}

/* .list-item span{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(180%, -50%); 
} */
.delete-btn
{
	border: 0;
	background-color: #f4e4d7;
	font-size: 20px;
	line-height: 15px;
	padding: 0.5rem;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10px;
	top: 20px;
	/* transform: translate(-250%, -50%);  */
}


.check-btn
{
	border: 0;
	font-size: 20px;
	line-height: 15px;
	padding: 0.5rem;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 40px;
	top: 20px;
	/*
	transform: translate(-320%, -50%); */
	background-color: #f4e4d7;

}

.edit-btn
{	
	border: 0;
	font-size: 20px;
	line-height: 15px;
	padding: 0.5rem;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 70px;
	top: 20px;
	/*
	transform: translate(-100%, -50%);  */
	background-color: #f4e4d7;

}