html,
body {
  height: 100vh;
  background: linear-gradient(45deg, rgb(192, 203, 255) 0%, rgb(252, 155, 70) 100%); /* https://cssgradient.io/ */
}

.todo-list {
  margin-top: 20rem;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: '■';
  position:absolute;
  height: 28px;
  width:28px;
  border-radius:50%;
  background-image: url();
background-size:cover;
background-position:center;
top:12px;
left:8px;
}
